    h2, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 50px;
    padding: 0;
    box-sizing: border-box;
}

#films {
    font-weight: bold;
    display: inline;
    position: relative;
}

#container {
    display: flex;
    max-width: 65%;
    flex-direction:row;
    border-radius: 20px;
}
#poster{
    width:700px;
    border-radius:100px;
    padding:50px;
}
#buy-ticket{
    text-align:right;
}